*{
    margin: 0;
    padding: 0;
  }
  
  body {
      background: #eee;
      text-align: center;
    }
  
  header {
    background-color:#79B4B7 ;
    padding: 20px 32px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    
  }
  
  header h1{
    color : #536162;
    display: inline;
    
  }

  .big-heading{
    padding: 10px 50px;
    font-size: 3.5rem;
    font-weight: 900;
    line-height: 1.5;
  }

  .container-fluid{
    padding: 7% 15%;
    text-align: center;
  }

  .home-text{
    padding: 20px 50px; 
  }

  /* #features{
    padding: 0.5% 10%;
  } */

  .feature-title{
    font-size: 1.5rem;
  }
  
  .feature-box{
    line-height: 1.5;
    padding: 0 50px;
  }

  .icon{
    line-height: 1.5;
  }

  /* h1, p {
    animation-duration: 3s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
      opacity: 0;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
      opacity: 1;
    }
  } */
  
  .btn{
    float: right;
    background-color: #2C2891; /* Green */
    border: none;
    color: #eee;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px; 
    margin: 0px; 
    cursor: pointer;
    transition-duration: 0.4s;
    border-radius: 25px;
  }
  .btn:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }
  
  .note {
    background: #eee;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    /* padding: 10px; */
    /* width: 90%; */
    /* margin-left: 50px; */
    /* margin-top: 70px; */
    /* float: left; */
    overflow: hidden;
  }
  
  .note p{
    margin-top: 9px;
    margin-bottom: 10px;
  }
  
  footer{
    /* position: fixed; */
     left: 0;
     bottom: 0;
     width: 100%;
     background-color: #79B4B7;
     color: white;
     text-align: center;
     
  }
  footer p{
    padding-block: 15px;
    margin-bottom: 0;
  }